.collection-21-22 {
  width: 53.8%;
  max-width: 1040px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(8vh - 1px) 0px;

  &__title {
    width: 36.1%;
    max-width: 376px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49.99px;
    text-align: center;
    color: #ffffff;
    padding-bottom: calc(4vh - 1px);
    margin: 0;
    position: relative;

    @media (width < 1440px) {
      font-size: 30px;
      line-height: 40px;
    }

    @media (width < 1024px) {
      font-size: 20px;
      line-height: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 30%;
      width: 40%;
      height: 1px;
      background-color: #ffffff;
    }
  }

  &__watches {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: calc(6vh - 1px);
  }
}

.watch {
  width: 25%;
  max-width: 260px;
  margin: 0px calc(1.5vw - 1px);

  &__image-container {
    background-color: #191b1c;
    padding: calc(7vh - 1px) calc(1vw - 1px);
  }

  &__image {
    width: 100%;
  }

  &__name {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.99px;
    color: #ffffff;
    display: block;
    margin: calc(2vh - 1px) 0px calc(1vh - 1px) 0px;

    @media (width < 1440px) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (width < 1024px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__price {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.33px;
    color: #d0d0d0;

    @media (width < 1024px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
