.header-top {
  height: 44px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1920px;

  &__section {
    display: flex;

    &_shop-info {
      @media (width < 768px) {
        display: none;
      }
    }

    &-item {
      font-weight: 400;
      size: 12px;
      line-height: 15.53px;
      color: #969696;
      margin-right: 10px;
      position: relative;

      &_icon {
        margin: 0px 10px;
        position: relative;
        top: 2px;
      }
    }
  }
}
