@import "./common.scss";
@import "./components/header/header.scss";
@import "./components/main-section/main-section.scss";
@import "./components/footer/footer.scss";

body {
  font-family: "PT Sans", sans-serif;
  max-width: 1920px;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("../../public/fonts/post-no-bill-jaffna/PostNoBillsJaffna-SemiBold.ttf")
    format("truetype");
  font-weight: 700;
}
