h3 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  white-space: nowrap;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin: 0;
}
@media (width < 1440px) {
  h3 {
    font-size: 30px;
  }
}
@media (width < 1024px) {
  h3 {
    font-size: 20px;
  }
}
@media (width < 768px) {
  h3 {
    font-size: 15px;
    padding: 10px;
    z-index: 2;
    line-height: 20px;
  }
}
h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 1px;
  background-color: #ffffff;
}
@media (width < 768px) {
  h3::after {
    display: none;
  }
}

h4 {
  font-weight: 400;
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

button {
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 30px;
}
@media (width < 1440px) {
  button {
    font-size: 13px;
    padding: 8px 25px;
  }
}
@media (width < 1024px) {
  button {
    font-size: 10px;
    padding: 6px 20px;
  }
}
@media (width < 768px) {
  button {
    font-size: 12px;
  }
}

.watch-button-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: "Playfair Display", serif;
  letter-spacing: 0;
  padding: 10px 25px;
  width: 60%;
  height: 15%;
  background-color: rgba(27, 26, 26, 0.5019607843);
  font-size: 18px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .watch-button-centered {
    font-size: 13px;
    padding: 8px 25px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .watch-button-centered {
    font-size: 10px;
    padding: 6px 15px;
  }
}

.header-top {
  height: 44px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}
.header-top__section {
  display: flex;
}
@media (width < 768px) {
  .header-top__section_shop-info {
    display: none;
  }
}
.header-top__section-item {
  font-weight: 400;
  size: 12px;
  line-height: 15.53px;
  color: #969696;
  margin-right: 10px;
  position: relative;
}
.header-top__section-item_icon {
  margin: 0px 10px;
  position: relative;
  top: 2px;
}

.header-menu {
  height: 80px;
  width: 100%;
  max-width: 1920px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-menu__brand-name {
  width: 104px;
  height: 49px;
  font-family: "Post No Bills Jaffna";
  font-size: 36px;
  line-height: 53.82px;
  color: #ffffff;
}
.header-menu__menu {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (width < 768px) {
  .header-menu__menu {
    display: none;
  }
}
.header-menu__menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  height: 100%;
}
.header-menu__menu-list-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.header-menu__menu-list-item.highlighted {
  background-color: #1f1f1f;
}
.header-menu__menu-list-item > a {
  color: #969696;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.12px;
  text-decoration: none;
  cursor: pointer;
}
.header-menu__menu-list-item > a.highlighted {
  color: #ffffff;
}
.header-menu__menu-icon {
  margin: 0px 10px;
}
.header-menu__mobile-menu {
  display: none;
}
@media (width < 768px) {
  .header-menu__mobile-menu {
    display: block;
  }
}

.main-banner {
  position: relative;
}
.main-banner__image {
  width: 100%;
  max-width: 1920px;
}
.main-banner__logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 18vw;
  max-width: 320px;
}
.main-banner__text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 13px;
  width: 40%;
  max-width: 730px;
  height: auto;
  text-transform: uppercase;
  margin: 0;
}
@media (width < 1440px) {
  .main-banner__text {
    font-size: 12px;
  }
}
@media (width < 1024px) {
  .main-banner__text {
    font-size: 8px;
  }
}
@media (width < 768px) {
  .main-banner__text {
    display: none;
  }
}
.main-banner__text_mobile {
  display: none;
}
@media (width < 768px) {
  .main-banner__text_mobile {
    display: block;
    width: 40%;
  }
}

.partners {
  background-color: #0f0f0f;
  padding: calc(6vh - 1px) 0 calc(8vh - 1px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width < 1440px) {
  .partners {
    padding: calc(4vh - 1px) 0 calc(6vh - 1px) 0;
  }
}
@media (width < 1024px) {
  .partners {
    padding: calc(2vh - 1px) 0 calc(6vh - 1px) 0;
  }
}
@media (width < 768px) {
  .partners {
    padding: 0 0 calc(6vh - 1px) 0;
  }
}
.partners__title {
  padding-top: 0;
  margin-bottom: 10px;
}
.partners__logos {
  max-width: 75%;
  display: flex;
  justify-content: space-between;
}
@media (width < 768px) {
  .partners__logos {
    display: block;
    max-width: 90%;
  }
}
.partners__logos-item {
  max-width: 23%;
}
@media (width < 768px) {
  .partners__logos-item {
    max-width: 49%;
  }
}

.collection-21-22 {
  width: 53.3%;
  max-width: 1040px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: calc(8vh - 1px) 0px;
}
@media (width > 1536px) {
  .collection-21-22 {
    padding: calc(4vh - 1px) 0px;
  }
}
.collection-21-22__title {
  font-weight: 700;
}
@media (width > 1440px) {
  .collection-21-22__title {
    font-size: 42px;
  }
}
.collection-21-22__watches {
  width: 100%;
  display: flex;
  justify-content: center;
}

.watch {
  width: 25%;
  max-width: 260px;
  margin: 0px calc(1.5vw - 1px);
}
.watch__image-container {
  background-color: #191b1c;
  padding: calc(7vh - 1px) calc(1vw - 1px);
  position: relative;
}
.watch__image-container > .watch-button-centered {
  width: 70%;
}
.watch__image {
  width: 100%;
}
.watch__image-blurred {
  filter: blur(2px);
}
.watch__name {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  display: block;
  margin: calc(2vh - 1px) 0px calc(1vh - 1px) 0px;
}
@media (width < 1440px) {
  .watch__name {
    font-size: 16px;
  }
}
@media (width < 1024px) {
  .watch__name {
    font-size: 12px;
  }
}
.watch__price {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  color: #d0d0d0;
}
@media (width < 1024px) {
  .watch__price {
    font-size: 12px;
  }
}

.new-collection {
  width: 46.7%;
  align-items: start;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
@media (width < 1920px) {
  .new-collection__image {
    max-width: 880px;
  }
}
@media (width < 1440px) {
  .new-collection__image {
    max-width: 717px;
  }
}
@media (width < 1024px) {
  .new-collection__image {
    max-width: 519px;
  }
}
.new-collection__content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width < 1920px) {
  .new-collection__content {
    bottom: 2%;
  }
}
.new-collection__content-title {
  font-weight: 700;
  margin-bottom: calc(4vh - 1px);
}
@media (width < 1440px) {
  .new-collection__content-title {
    font-size: 25px;
  }
}
.new-collection__cta {
  max-width: 138px;
}

.collection-2018__image {
  width: 49%;
}
.collection-2018__content {
  background-color: #000000;
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection-2018__content-title {
  font-weight: 400;
}
.collection-2018__content-text {
  font-size: 18px;
  width: 63%;
}
@media (width < 1920px) {
  .collection-2018__content-text {
    font-size: 16px;
    width: 73%;
  }
}
@media (width < 1600px) {
  .collection-2018__content-text {
    font-size: 15px;
  }
}
@media (width < 1536px) {
  .collection-2018__content-text {
    font-size: 14px;
  }
}
@media (width < 1440px) {
  .collection-2018__content-text {
    font-size: 10px;
    width: 84%;
  }
}
@media (width < 1024px) {
  .collection-2018__content-text {
    font-size: 8px;
  }
}

.collection-mobile {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collection-mobile__image-mobile {
  width: 80%;
  margin: 20px 0px;
}

.collections_not-mobile {
  display: flex;
}
@media (width < 768px) {
  .collections_not-mobile {
    display: none;
  }
}

.collections_mobile {
  display: none;
  padding-bottom: 20px;
  background-color: #191b1c;
}
@media (width < 768px) {
  .collections_mobile {
    display: block;
  }
}

.new-arrivals-swiper {
  display: none;
  padding: 10px 0px 20px 0px;
}
@media (width < 768px) {
  .new-arrivals-swiper {
    display: block;
  }
}
.new-arrivals-swiper__title {
  margin-bottom: 20px;
}
.new-arrivals-swiper__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-arrivals-swiper__slide-image {
  width: 80%;
  margin-bottom: 10px;
}
.new-arrivals-swiper__slide_all {
  position: relative;
}
.new-arrivals-swiper__button {
  font-size: 12px;
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: rgb(13, 159, 175);
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(10vh - 1px) 0px;
  background-color: #000000;
}
@media (width < 768px) {
  .new-arrivals {
    padding: 0;
    display: block;
  }
}
@media (width < 768px) {
  .new-arrivals__title {
    display: none;
  }
}
@media (width < 768px) {
  .new-arrivals__watches {
    display: none;
  }
}
.new-arrivals__watches-line {
  display: flex;
  justify-content: center;
}
.new-arrivals__watches-line_first {
  margin-bottom: calc(8vh - 1px);
}

.articles-swiper {
  background-color: #0f0f0f;
  display: none;
  position: relative;
  top: -38px;
  z-index: 1;
}
@media (width < 768px) {
  .articles-swiper {
    display: block;
  }
}
.articles-swiper__slide {
  position: relative;
}
.articles-swiper__slide-title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(15, 15, 15, 0.8117647059);
  border-radius: 10px;
}
.articles-swiper-bullets {
  width: 24px;
  height: 24px;
  color: #000000;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  padding-top: calc(10vh - 1px);
}
@media (width < 1024px) {
  .articles {
    padding-top: calc(6vh - 1px);
  }
}
@media (width < 768px) {
  .articles {
    padding: 0;
    display: block;
    position: relative;
  }
}
@media (width < 768px) {
  .articles__title {
    background-color: rgba(15, 15, 15, 0.5647058824);
  }
}

.article {
  display: flex;
  margin-bottom: calc(4vh - 1px);
}
@media (width < 768px) {
  .article {
    display: none;
  }
}
.article__img {
  width: 51.5%;
}
.article__content {
  width: 48.5%;
  padding: calc(5vh - 1px) calc(8vw - 1px);
  position: relative;
}
@media (width < 1440px) {
  .article__content {
    padding: calc(6vh - 1px) calc(4vw - 1px);
  }
}
@media (width < 1024px) {
  .article__content {
    padding: calc(2vh - 1px) calc(4vw - 1px);
  }
}
.article__content-title {
  font-size: 18px;
  letter-spacing: 0.1em;
}
@media (width < 1920px) {
  .article__content-title {
    font-size: 17px;
  }
}
@media (width < 1600px) {
  .article__content-title {
    font-size: 16px;
  }
}
@media (width < 1536px) {
  .article__content-title {
    font-size: 15px;
  }
}
@media (width < 1024px) {
  .article__content-title {
    font-size: 11px;
  }
}
.article__content-text {
  text-align: left;
}
@media (width < 1440px) {
  .article__content-text {
    font-size: 12px;
  }
}
@media (width < 1024px) {
  .article__content-text {
    font-size: 10px;
  }
}
.article__content-hashtags {
  position: absolute;
  right: 17%;
  line-height: 85px;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
@media (width < 1920px) {
  .article__content-hashtags {
    font-size: 14px;
  }
}
@media (width < 1536px) {
  .article__content-hashtags {
    font-size: 13px;
  }
}
@media (width < 1440px) {
  .article__content-hashtags {
    line-height: 65px;
    font-size: 10px;
  }
}
@media (width < 1024px) {
  .article__content-hashtags {
    line-height: 50px;
    font-size: 7px;
  }
}

.footer-main {
  display: flex;
  justify-content: center;
  padding: calc(10vh - 1px) 0 calc(5vh - 1px) 0;
  background-position: center;
}
@media (width < 1920px) {
  .footer-main {
    padding: calc(10vh - 1px) 0 calc(6vh - 1px) 0;
  }
}
@media (width < 768px) {
  .footer-main {
    display: block;
    padding: 10px;
  }
}

.footer-block {
  max-width: 18%;
  margin: 0 calc(1vw - 1px);
}
@media (width < 1440px) {
  .footer-block {
    max-width: 25%;
  }
}
@media (width < 768px) {
  .footer-block {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.footer-block__title {
  font-family: "Playfair Display", serif;
  margin-bottom: calc(4vh - 1px);
}
@media (width < 1440px) {
  .footer-block__title {
    font-size: 14px;
  }
}
@media (width < 768px) {
  .footer-block__title {
    text-align: center;
    margin-bottom: 10px;
  }
}
.footer-block__text {
  text-align: left;
  font-size: 13px;
}
@media (width < 1920px) {
  .footer-block__text {
    font-size: 12px;
  }
}
@media (width < 1536px) {
  .footer-block__text {
    font-size: 11px;
  }
}
@media (width < 1440px) {
  .footer-block__text {
    font-size: 10px;
  }
}
@media (width < 1024px) {
  .footer-block__text {
    font-size: 9px;
  }
}
@media (width < 768px) {
  .footer-block__text {
    display: none;
  }
}
.footer-block__text-mobile {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
@media (width < 768px) {
  .footer-block__links {
    margin-bottom: 10px;
  }
}
.footer-block__links-item {
  display: inline-block;
  background-color: #0f0f0f;
  padding: calc(1vh - 1px) calc(1vw - 1px);
  font-size: 13px;
  margin: 10px 3px;
}
@media (width < 1920px) {
  .footer-block__links-item {
    margin: 8px 3px;
  }
}
@media (width < 1536px) {
  .footer-block__links-item {
    margin: 7px 3px;
  }
}
@media (width < 1024px) {
  .footer-block__links-item {
    font-size: 10px;
    margin: 5px 2px;
  }
}
@media (width < 768px) {
  .footer-block__links-item {
    font-size: 16px;
    margin: 6px 4px;
    padding: 5px 10px;
  }
}
.footer-block__links-item > a {
  color: #d0d0d0;
  text-decoration: none;
}

.footer-subscription {
  display: flex;
  width: 100%;
  height: calc(4vh - 1px);
}
@media (width < 768px) {
  .footer-subscription {
    justify-content: space-between;
  }
}
.footer-subscription__input {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0;
  padding: 0px 15px;
}
@media (width < 1920px) {
  .footer-subscription__input {
    font-size: 14px;
  }
}
@media (width < 1440px) {
  .footer-subscription__input {
    font-size: 12px;
    padding: 0px 10px;
  }
}
@media (width < 1024px) {
  .footer-subscription__input {
    font-size: 10px;
  }
}
@media (width < 768px) {
  .footer-subscription__input {
    font-size: 14px;
    width: 50%;
    height: 30px;
  }
}
.footer-subscription__input::placeholder {
  color: #ffffff;
}
.footer-subscription__button {
  width: 40%;
  font-size: 12px;
  background-color: #0f0f0f;
  padding: 0;
  border: 0;
}
@media (width < 1920px) {
  .footer-subscription__button {
    font-size: 11px;
  }
}
@media (width < 1600px) {
  .footer-subscription__button {
    font-size: 10px;
  }
}
@media (width < 1024px) {
  .footer-subscription__button {
    font-size: 7px;
  }
}
@media (width < 768px) {
  .footer-subscription__button {
    font-size: 12px;
    width: 40%;
    height: 30px;
  }
}

body {
  font-family: "PT Sans", sans-serif;
  max-width: 1920px;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("../../public/fonts/post-no-bill-jaffna/PostNoBillsJaffna-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
