.collection-2018 {
  &__image {
    width: 49%;
  }

  &__content {
    background-color: #000000;
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-weight: 400;
    }

    &-text {
      font-size: 18px;
      width: 63%;

      @media (width < 1920px) {
        font-size: 16px;
        width: 73%;
      }

      @media (width < 1600px) {
        font-size: 15px;
      }

      @media (width < 1536px) {
        font-size: 14px;
      }

      @media (width < 1440px) {
        width: 63%;
        font-size: 12px;
      }

      @media (width < 1366px) {
        width: 73%;
        font-size: 10px;
      }

      @media (width < 1024px) {
        width: 83%;
        font-size: 8px;
      }
    }
  }
}
