@import "./collection-21-22.scss";
@import "./new-collection.scss";
@import "./collection-2018.scss";

.collections {
  &_not-mobile {
    display: flex;
  }

  @media (width < 768px) {
    display: none;
  }
}

.collections_mobile {
  display: none;

  @media (width < 768px) {
    display: block;
  }
}
