@import "./new-arrivals-mobile.scss";

.new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(10vh - 1px) 0px;
  background-color: #000000;

  @media (width < 768px) {
    padding: 0;
    display: block;
  }

  &__title {
    @media (width < 768px) {
      display: none;
    }
  }

  &__watches {
    @media (width < 768px) {
      display: none;
    }
  }

  &__watches-line {
    display: flex;
    justify-content: center;

    &_first {
      margin-bottom: calc(8vh - 1px);
    }
  }
}
